.container {
display: flex;
flex-direction: row;
background-color: rgba(162,113,207,0.691);
flex-wrap: wrap;
justify-content: space-around;
}
.item {
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    height: 650px;
    margin: 15px;
    background-color: rgba(122, 230, 194, 0.787);

}
img{height:100px;}
img{width: 95px;}
img{padding: 15px;}

.shrek {order:5;
    height: 300px;
    align-self: center;}

.burro {order:3;
    height: 300px;
    align-self: center;}

.fiona {order: 1;
     ;}

.gato {order: 2;
    height: 300px;
    align-self: flex-end;}
.pinocho {order: 4;
    height: 300px;
    align-self: flex-start;}
    
        
    
    